<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/social-icons-16/512/Google_alt-2-128.png">
  <title>Googled</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Product+Sans:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
